<h1 class="mb-1 restaurant-show-title">Login</h1>
<div class="container mb-5">
  <div class="row">
    <div class="col-md-6 m-auto border rounded p-3">
      {{> message}}
      <form action="/users/login" method="POST" novalidate>
        <div class="form-group mt-0">
          <label for="email"><span class="text-danger">*</span> Email : </label>
          <input class="mt-2 form-control" type="email" name="email" id="email" placeholder="Enter email" required>
          <div class="invalid-feedback text-end">必填</div>
        </div>
        <div class="form-group">
          <label for="password"><span class="text-danger">*</span> Password : </label>
          <input class="mt-2 form-control" type="password" name="password" id="password" placeholder="Enter password" required>
          <div class="invalid-feedback text-end">必填</div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-warning">Login</button>
          <a href="/auth/facebook" class="btn btn-primary me-1">Facebook Login</a>
          <p style="display: inline;">No Account ? 
            <a href="/users/register" class="ms-1 text-decoration-none text-success">
              <i class="fa-sharp fa-solid fa-circle-arrow-right"></i> Register
            </a>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>