<h1 class="mb-1 restaurant-show-title">Login</h1>
<div class="container mb-5">
  <div class="row">
    <div class="col-md-6 m-auto border rounded p-3">
      {{> message}}
      <form action="/users/login" method="POST" novalidate>
        <div class="form-group mt-0">
          <label for="email">Email : </label>
          <input class="mt-2 form-control" type="email" name="email" id="email" placeholder="Enter email" required>
        </div>
        <div class="form-group">
          <label for="password">Password : </label>
          <input class="mt-2 form-control" type="password" name="password" id="password" placeholder="Enter password" required>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-warning me-1">Login</button>
          <p style="display: inline;">No Account ? 
            <a href="/users/register" class="ms-1 text-decoration-none text-success">
              <i class="fa-sharp fa-solid fa-circle-arrow-right"></i> Register
            </a>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>