<h1 class="mb-1 restaurant-show-title">Register</h1>
<div class="container mb-5">
  <div class="row">
    <div class="col-md-6 m-auto border rounded p-3">
      <form action="/users/register" method="POST" novalidate>
        {{> message}}
        <div class="form-group mt-0">
          <label for="name">Name : </label>
          <input class="mt-2 form-control" type="text" name="name" id="name" placeholder="Enter name" value="{{ name }}">
        </div>
        <div class="form-group mt-0">
          <label for="email"><span class="text-danger">*</span>Email : </label>
          <input class="mt-2 form-control" type="email" name="email" id="email" placeholder="Enter email" value="{{ email }}" required>
          <div class="invalid-feedback text-end">必填</div>
        </div>
        <div class="form-group">
          <label for="password"><span class="text-danger">*</span>Password : </label>
          <input class="mt-2 form-control" type="password" name="password" id="password" placeholder="Enter password" value="{{ password }}" required>
          <div class="invalid-feedback text-end">必填</div>
        </div>
        <div class="form-group">
          <label for="confirmPassword"><span class="text-danger">*</span>Confirm Password : </label>
          <input class="mt-2 form-control" type="password" name="confirmPassword" id="confirmPassword" placeholder="Enter confirm Password" value="{{ confirmPassword }}" required>
          <div class="invalid-feedback text-end">必填</div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-warning me-1">Register</button>
          <p style="display: inline;">Have an Account ? 
            <a href="/users/login" class="ms-1 text-decoration-none text-success">
              <i class="fa-sharp fa-solid fa-circle-arrow-right"></i> Login
            </a>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>