header {
  overflow: hidden;
}

.navbar .navbar-brand {
  color: #4592af;
  font-weight: 700;
}

.navbar .navbar-brand:hover {
  color: #226089;
}

.banner {
  position: relative;
  z-index: -1;
  margin: -5px;
  height: 360px;
  background: #dddddd center center url('https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5720/restaurants-list-cover.jpg');
  background-size: cover;
  filter: blur(3px);
}

.search-bar .search-bar-outer {
  position: relative;
  margin: 0 auto;
  max-width: 680px;
  background-color: #fce2cf;
  border-radius: 8px;
  border-top-left-radius: 0;
  padding: 20px 30px;
  border: 1px solid #9b4b4b1a;
  margin-top: -60px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.search-bar .search-bar-inner h4 {
  color: #9b4b4b;
  font-weight: 600;
}

.search-add-new {
  position: absolute;
  top: -35px;
  left: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 105px;
  height: 35px;
  background: #9b4b4b;
  transition: 0.3s;
}

.search-add-new span{
  padding-left: 7px;
  color: #fff;
  font-weight: 800;
  line-height: 35px;
}

.search-add-new:hover {
  cursor: pointer;
  background: #c95656;
  height: 38px;
  top: -38px;
}

.form-control::placeholder {
  color: #aaaaaa;
  font-size: 0.8rem;
}

.btn-major {
  background-color: #9b4b4b;
  color: white;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-major:first-child:hover,
:not(.btn-major-check)+.btn-major:hover {
  background-color: #c95656;
}
.btn-major
.form-control:focus {
  box-shadow: none;
  border-color: #ced4da;
}

.text-secondary {
  text-decoration: none;
}

.card {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

.card:hover {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
}

.card .img-box {
  height: 180px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 900;
}

.card .score {
  background: #ff8f0e;
  padding: 6px;
}

.restaurant-category {
  color: #666666;
  font-size: 0.8rem;
}

.restaurant-show-title {
  position: relative;
  top: -100px;
  color: white;
  text-align: center;
  font-size: 3rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.btn-category {
  display: block;
}

.btn-warning,
.btn-warning:first-child:hover,
:not(.btn-warning-check)+.btn-warning:hover {
  color: #fff;
}

.btn-delete-box {
  display: inline;
}

.btn-panel {
  list-style: none;
}

.btn-panel li {
  float: right;
  margin-left: 5px;
}

.btn-panel .btn{
  font-size: 0.8rem;
  padding: 3px 8px;
}

.btn.btn-dark {
  background: #484848;
  border-color: #484848;
}

.btn.btn-dark:hover {
  background: #3d3d3d;
  border-color: #3d3d3d;
}

.keyword-no-match {
  font-size: 18px;
  font-weight: 700;
}

.keyword-no-match span {
  color: #ff8f0e;
  font-weight: 900;
}


@media screen and (max-width: 768px) {
  .restaurant-show-title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 992px) {
  .card .img-box {
    height: 140px;
  }
}

@media screen and (max-width: 768px) {
  .card .img-box {
    height: 300px;
  }
}

/* Show page */
@media screen and (max-width: 768px) {
  .restaurant-show-title {
    font-size: 2rem;
  }
}